.top-header marquee{
    background-color: rgb(226, 214, 214);
    height: 40px;
    padding: 10px;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 50px;
    height: 120px;
  }

  .logo {
    flex-basis: 200px;
  }

  .logo a img{
    width: 80px;
    height: 80px;
  }

 form {
    flex-basis: 500px;
    display: flex;
  }

  .search-bar input[type="text"] {
    color: black;
    height: 50px;
    width: 350px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: 1px solid #ece7e7;
    background-color: #eeeeee;
    border-radius: 5px;
  }

  .middle-search-svg-div{
    background-color: aqua;
    border-radius: 10px;
    width: 75px;
    height: 50px;
}
.middle-search-svg{
    width: 60px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

  .right {
    flex-basis: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .right-items{
    display: flex;
  }

  .right-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-right: 30px;
    font-size: 20px;
  }

  .right-list img{
    width: 30px;
  }

  .right-list img:hover{
    width: 40px;
    color: rgb(0, 0, 0);
  }

  .right-list a{
    text-decoration: none;
    color: rgb(63, 61, 61);
    font-size: 15px!important;
    font-weight: 600!important;
    line-height: 1.5!important;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .bottom-header{
    background-color: #f08632;
    height: 60px;
  }

  .bottom-header .items{
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .bottom-header .list a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    font-weight: 600;
    padding: 20px 35px 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 1s;
  }

  .bottom-header .list a:hover{
    background-color: black;
  }